<div class="header-index bg-body px-2">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="title">
            <p>Dashboard</p>
        </div>
        <div class="header-dropdown d-flex">
            <span class="date">6 Jan 2023, Friday</span>
            <i class="fa fa-search search-margin" width="17" height="23"></i>
            <img src="../../../assets/bell.png" width="17" height="23" class="bell-margin">
            <div class="btn-group" ngbDropdown role="group">
                <img src="../../../assets/avatar.png" class="rounded-circle cursor-p avatar" width="40" height="40"
                    id="dropdownBasic1" ngbDropdownToggle>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem>Dashboard</button>
                    <button ngbDropdownItem>Profile Settings</button>
                    <button ngbDropdownItem>Clinic</button>
                    <button ngbDropdownItem>LogOut</button>
                </div>
            </div>
            <div class="px-1">
                <p class="m-0 avatar-text-above">CNPL user</p>
                <p class="m-0 avatar-text-below">Admin</p>
            </div>
        </div>

    </nav>
</div>